<!--
  Generated template for the PemanduhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beranda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-card class="full-card">

      <ion-card *ngIf="profile_pemandu?.pemandu_status == 0" class="full-card-notice">
        <button ion-item (click)="navPemanduEditProfile()">
            <ion-icon color="secondary" name="information-circle" item-left></ion-icon>
            <ion-row justify-content-center>
              <p class="tidak-aktif">Perusahaan anda tidak aktif!</p>
            </ion-row>
            <ion-row justify-content-center>
              <p class="tidak-aktif">Tekan disini untuk mulai berbagi liburan</p>
            </ion-row>
        </button> 
      </ion-card>

      <ion-col>
        <ion-item>
          <ion-avatar item-start>
            <img *ngIf="profile_pemandu?.photo" src="{{BASE_URL+profile_pemandu?.photo}}">
            <img *ngIf="!profile_pemandu?.photo" src="assets/imgs/logo/usericon.png">
          </ion-avatar>
          <h2>{{profile_pemandu?.nama_company}}</h2>
          <p>Since: {{tanggal}}</p>
          <p>{{profile_pemandu?.alamat}}</p>
        </ion-item>
        <ion-item>
          <p>{{profile_pemandu?.deskripsi}}</p>
        </ion-item>
      </ion-col>
    </ion-card>
    <ion-card class="full-card">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <a class="textfont"><b>Rekening Anda</b></a>
          </ion-col>
          
            </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <a class="smallfont">Bank</a>
          </ion-col>
          <ion-col>
              <a class="textfont align-right">{{rekening?.bank}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a class="smallfont">No Rek</a>
          </ion-col>
          <ion-col>
              <a class="textfont align-right">{{rekening?.no_rek}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a class="smallfont">Nama</a>
          </ion-col>
          <ion-col>
            <a class="textfont align-right">{{rekening?.nama_rek}}</a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>

    </ion-card>
  </div>  
  <div>
    <ion-card class="full-card" >
      <ion-row>
        <ion-col center>
            <button block  ion-button  (click)="navPemanduEditProfile()">
              <ion-col>
                <ion-icon name="settings"></ion-icon>
                Profil
              </ion-col>
            </button>
        </ion-col>
        <ion-col center>
          <button block ion-button  (click)="navTambahProduk()">
            <ion-col>
              <ion-icon name="briefcase"></ion-icon>
              Produk
            </ion-col>
          </button>
        </ion-col>
        <ion-col>
          <button block ion-button (click)="navToTransaksiHistory()" tappable>
            <ion-col>
              <ion-icon name="book"></ion-icon>
              Riwayat
            </ion-col>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div>
    <ion-row justify-content-center align-items-center>
      <h5 class="namaprofile">Menunggu Konfirmasi Anda</h5>
    </ion-row>
  </div>
  <div>
      <ion-toolbar  no-border-top>
        <ion-segment [(ngModel)]="start_tabs">
          <ion-segment-button  value="homestay" (ionSelect)="selectedSegment($event.value)">
            <img class ="logosegment" src="assets/imgs/logo/home-icon-silhouette.png"  />
            <ion-badge class="notif-badge" *ngIf="dataTransHomestay?.length > 0">
              {{dataTransHomestay?.length}}
            </ion-badge>
            <div style="margin-top: -28px !important; ">
              <span class = "fontsizesmall">Homestay</span>
            </div>
          </ion-segment-button>
          <ion-segment-button value="produk" (ionSelect)="selectedSegment($event.value)">
            <img class ="logosegment" src="assets/imgs/logo/box.png"  />
            <ion-badge class="notif-badge" *ngIf="dataTransProduk?.length > 0">
              {{dataTransProduk?.length}}
            </ion-badge>
            <div style="margin-top: -28px !important; ">
              <span class = "fontsizesmall">Produk</span>
            </div>          
          </ion-segment-button>
          <ion-segment-button value="jasa" (ionSelect)="selectedSegment($event.value)">
            <img class ="logosegment" src="assets/imgs/logo/conversation.png"  />
            <ion-badge class="notif-badge" *ngIf="dataTransJasa?.length > 0">
              {{dataTransJasa?.length}}
            </ion-badge>
            <div style="margin-top: -28px !important; ">
              <span class = "fontsizesmall">Jasa</span>
            </div>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </div>
    &nbsp;
    <div [ngSwitch]="start_tabs">
  
      <ion-list *ngSwitchCase="'homestay'">
        <ion-card  class ="full-card" *ngFor="let data of dataTransHomestay">
          <button ion-item (click)="navDetailTransHomestay(data?.transaction_id)">
            <div>
              <ion-row>
                <ion-row>
                <ion-col col-2>
                    <img class = "photoavatar" *ngIf="data?.photoPemesan" src="{{BASE_URL+data?.photoPemesan}}">
                    <img class = "photoavatar" *ngIf="!data?.photoPemesan" src="assets/imgs/logo/usericon.png">
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-4>
                      <a class ="smallfont blackfont">Pemesan</a>
                    </ion-col>
                    <ion-col  align-self-end>
                      <a class ="smallfont right-padding-2 align-right">{{data?.namaPemesan}}</a>
                      </ion-col> 
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>
                      <a class ="smallfont blackfont">Homestay</a>
                    </ion-col>
                    <ion-col align-self-end>
                      <a class ="smallfont right-padding align-right">{{data?.namaHS}}</a>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>                          
              </ion-row> 
              <ion-row>
                <ion-col>
                  <a class ="smallfont blackfont">Tanggal Transaksi</a>
                </ion-col>
                <ion-col>
                  <a float-right class ="smallfont geser-kiri-1">{{data?.transaction_date | date: "dd MMMM yyyy"}}</a>
                </ion-col>  
              </ion-row>
              <ion-row>              
                <ion-col>
                  <a class ="smallfont blackfont">Nominal</a>
                </ion-col>
                <ion-col>
                  <a float-right class ="smallfont geser-kiri-1">{{data?.total_harga | currency: "IDR "}}</a>
                </ion-col>    
              </ion-row>   
              <ion-row>
                <ion-col>
                    <a class ="smallfont blackfont">Transaksi Sedang Berjalan</a>
                </ion-col>
                <ion-col class="button-detail">
                  <button ion-button small class="align-right">Detail</button>
                </ion-col>
              </ion-row>                 
            </div>                                                           
          </button>                 
        </ion-card>
        <ion-card *ngIf="dataTransHomestay.length <= 0 "> 
            <ion-row>
              <h5 padding-left padding-top><b>Tidak ada transaksi</b></h5>         
            </ion-row>           
          </ion-card>
      </ion-list>
      
      <ion-list *ngSwitchCase="'produk'">
        <ion-card  class ="full-card" *ngFor="let data of dataTransProduk">
          <button ion-item (click)="navDetailTransProduk(data?.transaction_id)"> 
            <div>
              <ion-row>
                <ion-row>
                <ion-col col-2>
                    <img class = "photoavatar" *ngIf="data?.photoPemesan" src="{{BASE_URL+data?.photoPemesan}}">
                    <img class = "photoavatar" *ngIf="!data?.photoPemesan" src="assets/imgs/logo/usericon.png">
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-4>
                      <a class ="smallfont blackfont">Pemesan</a>
                    </ion-col>
                    <ion-col  align-self-end>
                      <a class ="smallfont right-padding-2 align-right">{{data?.namaPemesan}}</a>
                      </ion-col> 
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>
                      <a class ="smallfont blackfont">Barang</a>
                    </ion-col>
                    <ion-col align-self-end>
                      <a class ="smallfont right-padding align-right">{{data?.namaB}}</a>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>                          
              </ion-row> 
              <ion-row>
                <ion-col>
                  <a class ="smallfont blackfont">Tanggal Transaksi</a>
                </ion-col>
                <ion-col>
                  <a float-right class ="smallfont geser-kiri-1">{{data?.transaction_date | date: "dd MMMM yyyy"}}</a>
                </ion-col>  
              </ion-row>
              <ion-row>              
                <ion-col>
                  <a class ="smallfont blackfont">Nominal</a>
                </ion-col>
                <ion-col>
                  <a float-right class ="smallfont geser-kiri-1">{{data?.total_harga  | currency: "IDR "}}</a>
                </ion-col>    
              </ion-row>   
              <ion-row>
                <ion-col>
                    <a class ="smallfont blackfont">Transaksi Sedang Berjalan</a>
                </ion-col>
                <ion-col class="button-detail">
                  <button ion-button small class="align-right">Detail</button>
                </ion-col>
              </ion-row>                 
            </div>                                                                                   
          </button>                  
        </ion-card>
        <ion-card *ngIf="dataTransProduk.length <= 0 "> 
          <ion-row>
            <h5 padding-left padding-top><b>Tidak ada transaksi</b></h5>         
          </ion-row>           
        </ion-card>
      </ion-list>
  
  
      <ion-list *ngSwitchCase="'jasa'">
        <ion-card  class ="full-card-test" *ngFor="let data of dataTransJasa">
            <button ion-item (click)="navDetailTransJasa(data?.transaction_id)">                     
                <div>
                    <ion-row>
                      <ion-row>
                      <ion-col col-2>
                          <img class = "photoavatar" *ngIf="data?.photoPemesan" src="{{BASE_URL+data?.photoPemesan}}">
                          <img class = "photoavatar" *ngIf="!data?.photoPemesan" src="assets/imgs/logo/usericon.png">
                      </ion-col>
                      <ion-col>
                        <ion-row>
                          <ion-col col-4>
                            <a class ="smallfont blackfont">Pemesan</a>
                          </ion-col>
                          <ion-col  align-self-end>
                            <a class ="smallfont align-right">{{data?.namaPemesan}}</a>
                            </ion-col> 
                        </ion-row>
                        <ion-row>
                          <ion-col >
                            <a class ="smallfont blackfont">Jasa</a>
                          </ion-col>
                          <ion-col align-self-end>
                            <a class ="smallfont align-right">{{data?.namaJ}}</a>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>                          
                    </ion-row> 
                    <ion-row>
                      <ion-col>
                        <a class ="smallfont blackfont">Tanggal Transaksi</a>
                      </ion-col>
                      <ion-col>
                        <a float-right class ="smallfont geser-kiri-1">{{data?.transaction_date | date: "dd MMMM yyyy"}}</a>
                      </ion-col>  
                    </ion-row>
                    <ion-row>              
                      <ion-col>
                        <a class ="smallfont blackfont">Nominal</a>
                      </ion-col>
                      <ion-col>
                        <a float-right class ="smallfont geser-kiri-1">{{data?.total_harga  | currency: "IDR "}}</a>
                      </ion-col>    
                    </ion-row>   
                    <ion-row>
                      <ion-col>
                          <a class ="smallfont blackfont">Transaksi Sedang Berjalan</a>
                      </ion-col>
                      <ion-col class="button-detail">
                        <button ion-button small class="align-right">Detail</button>
                      </ion-col>
                    </ion-row>                 
                  </div>
              </button>                  
            </ion-card>
            <ion-card *ngIf="dataTransJasa.length <= 0 "> 
              <ion-row>
                <h5 padding-left padding-top><b>Tidak ada transaksi</b></h5>         
              </ion-row>           
            </ion-card>
      </ion-list>
    </div>

</ion-content>

<ion-footer>
  
</ion-footer>
