<ion-tabs *ngIf ="userLoggedIn == false">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Booking" tabIcon="paper"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Notification" tabIcon="notifications"></ion-tab> -->
  <ion-tab [root]="tab4Root" tabTitle="My Account" tabIcon="people"></ion-tab>
</ion-tabs>
<ion-tabs *ngIf ="userLoggedIn == true">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Booking" tabIcon="paper"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Notification" tabIcon="notifications"></ion-tab> -->
  <ion-tab [root]="tab5Root" tabTitle="My Account" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="My Company" tabIcon="contact"></ion-tab>
</ion-tabs>

