<!--
  Generated template for the ProduksearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >
  <ion-navbar color= "navbar">
      <ion-title *ngIf="!isSearchbarOpened">
          <span *ngIf="newparametersearchkey == null" class="firstline">All Produk</span>
          <span *ngIf="newparametersearchkey" class="firstline">Produk Search</span>
          <span *ngIf="newparametersearchkey" class="twoline">{{newparametersearchkey}}</span>
      </ion-title>
      
      <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton ="true" (search)= "onSearch($event)" (ionCancel)="isSearchbarOpened=false" >
      </ion-searchbar>
      <ion-buttons end>
          <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened = true">
            <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let data of dataProduk" (click)="produkDetail(data.barang_id)" tappable>
        <!-- <img [src]="card.imageUrl" (click)="cardTapped(card)" /> -->
        <img src="{{BASE_URL+data?.mainphoto}}" />
        <ion-card-content>
            <h2>            
              <b>{{data?.nama_barang}}</b>            
            </h2>            
                <ion-icon *ngIf= "data?.averageReview >=  1" class ="centerlogo" name="star" color="bright"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview >=  2" class ="centerlogo" name="star" color="bright"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview >=  3" class ="centerlogo" name="star" color="bright"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview >=  4" class ="centerlogo" name="star" color="bright"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview == 5"class ="centerlogo" name="star" color="bright"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview < 1" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview < 2" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview < 3" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview < 4" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
                <ion-icon *ngIf= "data?.averageReview < 5" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
                <ion-icon><h6>({{data?.jumlahReview}})</h6></ion-icon>                
            <h6 class = "fontblue">            
              Rp {{data?.harga}}        
            </h6>
            <h6>            
                {{data?.pemandu?.nama_company}}        
            </h6>            
                <ion-icon name="pin" class="mapsizefont"></ion-icon>
                <ion-icon class="mapsizefont" *ngFor="let alamat of data?.dataAlamatCategory" ><h6>{{alamat?.kabupaten}} </h6></ion-icon>            
        </ion-card-content>        
      </ion-card>      
</ion-content>
