page-diskusiproduk {
    .firstline {        
        display: block;
        line-height: .7em;
        font-size: 18px;
        margin: 5px 0;
    }

    .full-card {        
        margin: 0px !important;    
        width: 100% !important;
        background-color: white;
        border-radius: 0px !important;
        box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
        border-bottom: 2px solid #f1f2f6;
      }

    .pemandu{
        font-size: 10px;
        background-color:#07c23f !important;
        color: white !important;
    }
    .wisatawan{
        font-size: 10px;
        background-color: #488aff !important;
        color: white !important;
    }
    .tanggal{
        font-size: 13px;
        color: #9c9c9a;
    }
    .paddingleftword{
        padding-left: 4px;
    }
    .moreicon{
        float: right !important;
        font-size:20px !important;
        padding-bottom: 0px !important;
    }
    .paddingbottomzero{
        padding-bottom: 0px !important;
    }
}
