<!--
  Generated template for the PemandulisthomestayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-row>
      <ion-col>
        <ion-title>Detail Homestay</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="full-card">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <a class="textfont"><b>Identitas Homestay</b></a>
          </ion-col>
          <ion-col >
            <button ion-button small class="align-right" (click)="editIdentitasHs(currenthomestay?.homestay_id)">
              Edit
            </button>
          </ion-col>
        </ion-row> 
      </ion-card-header>
      <ion-card-content>
        <ion-avatar item-start>
          <img class="smaller-img"*ngIf="!currenthomestay?.mainphoto"  src="assets/imgs/logo/usericon.png">
          <img class="smaller-img" *ngIf="currenthomestay?.mainphoto" src="{{BASE_URL+curenthomestay?.mainphoto}}">
        </ion-avatar>
        &nbsp;
        <ion-row>
          <ion-col>
            <h2 class="textfont  align-left">{{currenthomestay?.nama_homestay}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <a class="smallfont">Harga Perhari</a>
          </ion-col>
          <ion-col>
              <a class="textfont align-right">{{currenthomestay?.harga_perhari | currency:'IDR ': true}}</a>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
                <a class="smallfont">Deskripsi Homestay</a>
            </ion-col>
            <ion-col>
                <a class="textfont  align-right">{{currenthomestay?.deskripsi}}</a>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="full-card">
      <ion-row> 
          <ion-col text-center (click)="navReviewPage(currenthomestay?.homestay_id)">
              <ion-icon *ngIf= "currenthomestay?.bintang >=  1" class ="centerlogo" name="star" color="bright"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang >=  2" class ="centerlogo" name="star" color="bright"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang >=  3" class ="centerlogo" name="star" color="bright"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang >=  4" class ="centerlogo" name="star" color="bright"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang == 5"class ="centerlogo" name="star" color="bright"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang < 1" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang < 2" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang < 3" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang < 4" class ="centerlogo" name="star" color="darkgrey"></ion-icon>
              <ion-icon *ngIf= "currenthomestay?.bintang < 5" class ="centerlogo" name="star" color="darkgrey"></ion-icon> 
              <h3 class="centerlogo">Lihat Review Pelanggan </h3>                  
          </ion-col>                                                   
        </ion-row>
    </ion-card>
    &nbsp;
    <ion-card class="full-card">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <a class="textfont"><b>Alamat Homestay</b></a>
          </ion-col>
          <ion-col>
            <button ion-button small class="align-right" (click)="editAlamatHs(currenthomestay?.homestay_id)">
              Edit
            </button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
              <a class="smallfont">Provinsi</a>
          </ion-col>
          <ion-col>
            <ion-list>
              <a class="textfont  align-right">{{alamatcategory?.provinsi}}</a>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <a class="smallfont">Kabupaten</a>
          </ion-col>
          <ion-col>
          <ion-list>
              <a class="textfont  align-right">{{alamatcategory?.kabupaten}}</a>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <a class="smallfont"> Kecamatan</a>
          </ion-col>
          <ion-col>
            <ion-list>
              <a class="textfont  align-right">{{alamatcategory?.kecamatan}}</a>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <a class="smallfont">Alamat </a>
          </ion-col>
          <ion-col>
            <ion-list>
              <a class="textfont  align-right">{{currenthomestay?.alamat}}</a>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
      &nbsp;
    <ion-card class="full-card">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <a class="textfont"><b>Fasilitas</b></a>
          </ion-col>
          <ion-col>
            <button ion-button small class="align-right" (click)="editFasilitasHs(currenthomestay?.homestay_id)">
              Edit
            </button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
              <a class ="smallfont" color="primary">AC</a>
          </ion-col>
          <ion-col>
              <a *ngIf="fasilitas?.ac == null" class="textfont  align-right">Belum anda isi</a>
              <a  *ngIf="!(fasilitas?.ac == null)" class="textfont  align-right">{{fasilitas?.ac}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a class  ="smallfont" color="primary">Wifi</a>
          </ion-col>
          <ion-col> 
              <a *ngIf="fasilitas?.wifi == null" class="textfont  align-right" danger>Belum anda isi</a>
            <a *ngIf="!(fasilitas?.wifi == null)" class="textfont  align-right">{{fasilitas?.wifi}}</a> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a class ="smallfont" color="primary">Parkir</a>
          </ion-col>
          <ion-col> 
            <a *ngIf="fasilitas?.parkir_mobil == null" class="textfont  align-right">Belum anda isi</a>
            <a *ngIf="!(fasilitas?.parkir_mobil == null)" class="textfont  align-right">{{fasilitas?.parkir_mobil}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a class ="smallfont " color="primary">Kamar Tidur</a>
          </ion-col>
          <ion-col>
            <a *ngIf="fasilitas?.kamar_tidur == null" class="textfont  align-right">Belum anda isi</a>
            <a *ngIf="!(fasilitas?.kamar_tidur == null)" class="textfont  align-right">{{fasilitas?.kamar_tidur}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <a  class ="smallfont" color="primary">Kamar Mandi</a> 
          </ion-col>
          <ion-col>
              <a *ngIf="fasilitas?.kamar_mandi == null" class="textfont  align-right">Belum anda isi</a> 
              <a *ngIf="!(fasilitas?.kamar_mandi == null)" class="textfont  align-right">{{fasilitas?.kamar_mandi}}</a> 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    &nbsp;
    <!-- <button ion-button icon-start block no-margin color="primary" (click)="touchEditHomestay()">
        Edit Homestay
    </button> -->
</ion-content>
