<!--
  Generated template for the TransaksiprodukPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color= "navbar">
        <ion-title>
            <span class="firstline">Detil Transaksi</span>
        </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  <div >
    <ion-card class="full-card">          
        <button ion-item >
            <ion-avatar item-start>
                <img *ngIf="dataTransaksi?.transaction_status <= 1" class ="notround" src="assets/imgs/logo/payment.png">
                <img *ngIf="dataTransaksi?.transaction_status == 2" class ="notround" src="assets/imgs/logo/paymentdone.png">
                <img *ngIf="dataTransaksi?.transaction_status == 3 || dataTransaksi?.transaction_status == 4" class ="notround" src="assets/imgs/logo/shippedtruck.png">
                <img *ngIf="dataTransaksi?.transaction_status == 5" class ="notround" src="assets/imgs/logo/deliverydone.png">                
                <img *ngIf="dataTransaksi?.transaction_status == 6" class ="notround" src="assets/imgs/logo/handshake.png">          
            </ion-avatar>              
          <h6 class="keterangantextlisttransaksi">Status</h6>      
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 0"><b>Belum Konfirmasi Pembayaran</b></h5>
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 1"><b>Menunggu Verifikasi Pembayaran</b></h5>
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 2"><b>Pembayaran telah diverifikasi</b></h5>
          <a text-wrap *ngIf="dataTransaksi?.transaction_status == 2" class="noteinfotransaksi">Menunggu Proses Pengiriman Barang</a>                             
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 3 || dataTransaksi?.transaction_status == 4"><b>Barang sudah dikirim</b></h5>                   
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 5"><b>Barang sampai tujuan</b></h5>                   
          <h5 class="textlisttransaksi" text-wrap *ngIf="dataTransaksi?.transaction_status == 6"><b>Transaksi selesai</b></h5>
        </button>         
    </ion-card>
    <ion-card class ="full-card-homenamecard-padding-left">
        <ion-grid>           
             <ion-row>
                <ion-col>
                    <a class ="smallfont" color="primary">Tanggal Pembelian</a>   
                </ion-col>     
               <ion-col>
                    <a class ="smallfont" color="primary">Kurir Pengiriman</a>   
               </ion-col>                 
             </ion-row>
             <ion-row class="padding-bottom-col">               
                 <ion-col>
                    <a class="textfont">{{dataTransaksi?.transaction_date | date: "dd MMMM yyyy, HH:mm"}}</a>                 
                  </ion-col>                
                 <ion-col>
                   <a class="textfont">JNE - {{dataTransaksi?.paket_pengiriman}}</a>
                 </ion-col>
             </ion-row>
             <ion-row>
                <ion-col>
                        <a class ="smallfont" color="primary">Penjual</a>   
                    </ion-col>     
                    <ion-col>
                        <a class ="smallfont" color="primary">Notes</a>   
                    </ion-col>                                         
               </ion-row>
               <ion-row class="padding-bottom-col">
                  <ion-col>
                       <a class="textfont">{{dataPemandu?.nama_company}}</a> 
                  </ion-col> 
                  <ion-col>
                      <a class="textfont">{{dataTransaksi?.noteswisatawan}}</a>
                  </ion-col>                                     
               </ion-row>
               <ion-row>
                <ion-col>
                    <a class ="smallfont" color="primary">Alamat Pengiriman</a>   
                </ion-col>                                                   
             </ion-row>
               <ion-row class="padding-bottom-col">
                  <ion-col>
                      <a class="textfont">{{dataTransaksi?.alamatpengiriman}}</a>
                  </ion-col>                      
             </ion-row>
         </ion-grid>                
   </ion-card>
   <ion-card class ="full-card-homenamecard-padding-left" *ngIf="dataTransaksi?.transaction_status >= 3">
      <ion-grid>           
           <ion-row>
            <ion-col>
                <a class ="smallfont" color="primary">Nomor Resi</a>   
            </ion-col>                                
           </ion-row>
           <ion-row class="padding-bottom-col">
               <ion-col>
                   <a class="textfont">{{dataTransaksi?.no_resi}}</a>
               </ion-col>                     
           </ion-row>           
       </ion-grid>                
    </ion-card>
  </div>
<div padding>
    <ion-card class ="full-card-homenamecard">
        <button ion-item (click)="produkDetail(dataProduk?.barang_id)">
            <ion-avatar  item-start>
              <img src="{{BASE_URL+dataProduk?.mainphoto}}" class="avatarhomestay">
            </ion-avatar>
            <h6 class="padding1px" ><b  color="primary">{{dataProduk?.nama_barang}}</b></h6> 
            <a class *ngFor="let data of dataAlamatCategory" class="alamat" color="primary"> {{data?.kecamatan}}, {{data?.kabupaten}}, {{data?.provinsi}}</a>                
        </button>                                                         
    </ion-card>
</div>
  <div>     
      <ion-card class ="full-card-homenamecard">
          <ion-grid>
              <ion-row>
                <ion-col padding-left>
                    <a class ="smallfont" color="primary">Detail Biaya</a>   
                </ion-col>                 
              </ion-row>
              <ion-row>                   
                  <ion-col padding-left>
                    <a class ="textfont">Jumlah Unit</a>
                  </ion-col>
                  <ion-col >
                      <a float-right item-end class ="textfont">{{dataTransaksi?.jumlah_barang}}({{dataTransaksi?.jumlah_barang * dataProduk?.berat_gram/1000}} kg)</a>
                  </ion-col>                
              </ion-row>           
              <ion-row>                   
                  <ion-col padding-left>
                    <a class ="textfont">Total Harga Produk</a>
                  </ion-col>
                  <ion-col >
                      <a float-right item-end class ="textfont">{{dataTransaksi?.total_harga | currency:'IDR ':true}}</a>
                  </ion-col>                
              </ion-row>
              <ion-row>
                  <ion-col padding-left>
                    <a class ="textfont">Biaya Kirim</a>
                  </ion-col>
                  <ion-col align-self-end>
                      <a float-right item-end class ="textfont">{{dataTransaksi?.ongkos_kirim | currency:'IDR ':true}}</a>
                  </ion-col>                
              </ion-row>                           
            </ion-grid>                  
      </ion-card>
  </div>
  <div >
      <ion-card class ="full-card-homenamecard-padding-left">
          <ion-grid>           
              <ion-row>
                  <ion-col>
                    <a class ="textfont">Total</a>
                  </ion-col>
                  <ion-col align-self-end>
                      <a float-right class ="textfont">{{dataTransaksi?.total_harga | currency:'IDR ':true}}</a>
                  </ion-col>                
              </ion-row>              
            </ion-grid>                  
      </ion-card>
  </div>
  <div padding>
        <button *ngIf="dataTransaksi?.transaction_status == 0 || dataTransaksi?.transaction_status == 1" ion-button icon-start block no-margin color="primary" class="buttontransaksi" (click)="caraPembayaran()" tappable >
            Cara Pembayaran
        </button>
        <button *ngIf="dataTransaksi?.transaction_status == 0 || dataTransaksi?.transaction_status == 1" ion-button icon-start block no-margin color="primary" class="buttontransaksi" (click)="uploadBuktiPembayaran()" tappable >
            Upload Bukti Pembayaran
        </button>
        <button *ngIf="dataTransaksi?.transaction_status == 4" ion-button icon-start block no-margin color="primary" class="buttontransaksi" (click)="konfirmasiTransaksi(dataTransaksi?.transaction_id)" tappable >
            Konfirmasi Transaksi Selesai
        </button>
        <button *ngIf="dataTransaksi?.transaction_status >= 5 && reviewExist != true" ion-button icon-start block no-margin color="primary" class="buttontransaksi" (click)="addReview(dataTransaksi?.transaction_id)" tappable >
            Tambah Review
        </button>
        <button *ngIf="dataTransaksi?.transaction_status == 0"  ion-button icon-start block no-margin color="primary" class="buttontransaksi samebackground" (click)="cancelTransaksi(dataTransaksi?.transaction_status, dataTransaksi?.transaction_id)" tappable >
            Batalkan Transaksi
        </button>   
  </div>
</ion-content>
