<!--
  Generated template for the PemandutambahprodukPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Produk Anda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-toolbar class="paddingtoptoolbar" no-border-top>
        <ion-segment [(ngModel)]="start_tabs">
          <ion-segment-button  value="homestay" (ionSelect)="selectedSegment($event.value)">
              <img class ="logosegment" src="assets/imgs/logo/home-icon-silhouette.png"  />
              
              <div style="margin-top: -28px !important; ">
                <span class = "fontsizesmall">Homestay</span>
              </div>
          </ion-segment-button>
          <ion-segment-button value="produk" (ionSelect)="selectedSegment($event.value)">
            <img class ="logosegment" src="assets/imgs/logo/box.png"  />
            
            <div style="margin-top: -28px !important; ">
              <span class = "fontsizesmall">Produk</span>
            </div>          
          </ion-segment-button>
          <ion-segment-button value="jasa" (ionSelect)="selectedSegment($event.value)">
            <img class ="logosegment" src="assets/imgs/logo/conversation.png"/>
            <div style="margin-top: -28px !important; ">
              <span class = "fontsizesmall">Jasa</span>
            </div>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-grid [ngSwitch]="start_tabs">

    <ion-row *ngSwitchCase="'homestay'">
      <button ion-item color="secondary" class="font-roboto" (click)="navTambahHomestay()">Tambah Homestay</button>
      <ion-card *ngIf="homestays < 1; else content-hs"> 
        <ion-row >
          <h5 padding-left padding-top><b>Kamu Belum Punya Homestay</b></h5>         
        </ion-row>           
      </ion-card>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let data of homestays">
        <ion-card name="content-hs"  class ="full-card" >
          <button ion-item (click)="navDetailHomestay(data?.homestay_id)" >                     
            <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.mainphoto}}"/>
            <img src=img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png"/>
            <ion-icon *ngIf= "data?.bintang >=  1" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  2" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  3" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  4" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang == 5"class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 1" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 2" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 3" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 4" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 5" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <br/>
            <a class="text-font">{{data?.nama_homestay}}</a><br/>
            <strong><a  class="text-font" text-wrap>{{data?.harga_perhari | currency:'IDR ': true}}</a></strong>                                                                                  
          </button>                
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngSwitchCase="'produk'">
        <button ion-item color="secondary" class="font-roboto" (click)="navTambahProduk()">Tambah Produk</button>
      <ion-card *ngIf="products < 1; else content-hs"> 
          <ion-row >
            <h5 padding-left padding-top><b>Kamu Belum Punya Homestay</b></h5>         
          </ion-row>           
        </ion-card>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let data of products">
        <ion-card name="content-hs"  class ="full-card" >
          <button ion-item (click)="navDetailBarang(data?.product_id)" >                     
            <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.mainphoto}}"/>
            <img src=img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png"/>
            <ion-icon *ngIf= "data?.bintang >=  1" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  2" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  3" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  4" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang == 5"class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 1" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 2" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 3" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 4" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 5" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <br/>
            <a class="text-font">{{data?.nama_barang}}</a><br/>
            <strong><a  class="text-font" text-wrap>{{data?.harga | currency:'IDR ': true}}</a></strong>                                                                                  
          </button>                
        </ion-card>
      </ion-col>
    </ion-row>

  <ion-row *ngSwitchCase="'jasa'">
      <button ion-item color="secondary" class="font-roboto" (click)="navTambahJasa()">Tambah Jasa</button>
        <ion-card *ngIf="jasa < 1; else content-hs"> 
          <ion-row >
            <h5 padding-left padding-top><b>Kamu Belum Punya Homestay</b></h5>         
          </ion-row>           
        </ion-card>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let data of services">
        <ion-card name="content-hs"  class ="full-card" >
          <button ion-item (click)="navDetailJasa(data?.jasa_id)" >                     
            <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.mainphoto}}"/>
            <img src=img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png"/>
            <ion-icon *ngIf= "data?.bintang >=  1" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  2" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  3" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang >=  4" class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang == 5"class ="kecilin" name="star" color="bright"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 1" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 2" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 3" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 4" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <ion-icon *ngIf= "data?.bintang < 5" class ="kecilin" name="star" color="darkgrey"></ion-icon>
            <br/>
            <a class="text-font">{{data?.nama_jasa}}</a><br/>
            <strong><a class="text-font" text-wrap>{{data?.harga_jasa | currency:'IDR ': true}}</a></strong>                                                                                  
          </button>                
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
    <!-- <div [ngSwitch]="start_tabs">
    <ion-list *ngSwitchCase="'homestay'" padding>
      
      &nbsp;
      <ion-card *ngIf="homestays < 1; else content-hs"> 
        <ion-row>
          <h5 padding-left padding-top><b>Kamu Belum Punya Homestay</b></h5>         
        </ion-row>           
      </ion-card>
      <ion-card name="content-hs"  class ="full-card" *ngFor="let data of homestays">
        <button ion-item (click)="navDetailHomestay(data?.homestay_id)" >                     
          <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.mainphoto}}"/>
          <img src=img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png"/>
          <ion-card-title>
            {{data?.nama_homestay}}
          </ion-card-title>
          <h6 class="hitam" text-wrap><p>{{data?.deskripsi}}</p></h6>
          <h6 class="hitam" text-wrap>{{data?.harga_perhari | currency:'IDR ': true}}</h6>                                                                                  
        </button>                
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'produk'" padding>
      
      <ion-card *ngIf="products < 1; else content-p"> 
        <ion-row>
          <h5 padding-left padding-top><b>Kamu Belum Punya Produk</b></h5>         
        </ion-row>           
      </ion-card>
      <ion-card  class ="full-card" name="content-p" *ngFor="let data of products">
        <button ion-item (click)="navDetailProduk(data?.transaction_id)">                     
          <ion-avatar item-start>
            <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.photoPemesan}}">
            <img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png">                   
          </ion-avatar>
          <h6 class="tanggal paddingtop1px"><p><b>ISI</b></p></h6>
          <h6 class="textbooking" text-wrap><p><b>ISI</b></p></h6>
          <h6 class="textbooking" text-wrap>ISI</h6>                                                                                  
        </button>                  
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'jasa'" padding>
      
      <ion-card *ngIf="services < 1; else content-j"> 
        <ion-row>
          <h5 padding-left padding-top><b>Kamu Belum Punya Jasa Pemandu</b></h5>         
        </ion-row>           
      </ion-card>
      <ion-card  class ="full-card" name="content-j" *ngFor="let data of services">
        <button ion-item (click)="navDetailJasa(data?.jasa_id)">                     
          <img class = "photoavatar" *ngIf="data?.mainphoto" src="{{BASE_URL+data?.photoPemesan}}">
          <img class = "photoavatar" *ngIf="!data?.mainphoto" src="assets/imgs/logo/usericon.png">                   
          <h6 class="tanggal paddingtop1px"><p><b>{{data?.nama_jasa}}</b></p></h6>
          <h6 class="hitam" text-wrap><p>{{data?.deskripsi}}</p></h6> 
          <h6 class="hitam" text-wrap>{{data?.harga_jasa | currency:'IDR ': true}}</h6>                                                                                  
          </button>                  
        </ion-card>
    </ion-list>
  </div> -->

</ion-content>
