<!--
  Generated template for the EditpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color= "navbar">
       <ion-title>
            <span class="twoline">Edit Password</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="white" (click)="onUpdate(updateForm)">
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div padding-top text-center>
        <div class="profilePict">
           <img class="profpic" src="assets/imgs/logo/keys.png">
         <h4>Buat Password Barumu</h4>
       </div> 
   </div>
    <ion-card padding-bottom padding-right>
      <form #updateForm="ngForm" novalidate>
          <ion-list no-lines>            
            <ion-item>
              <ion-label stacked color="primary">Old Password</ion-label>
              <ion-input [(ngModel)]="user.oldpassword" pattern=".{8,}" name="oldpassword" placeholder="Old Password" type="password" #oldpassword="ngModel" required>
              </ion-input>
            </ion-item>
            <div [hidden]="oldpassword.valid || submitted == false" padding-left>
                <p ion-text color="danger" *ngIf="!user.oldpassword">Password Lama harus diisi</p>
                <p ion-text color="danger" *ngIf="user.oldpassword">Password minimal 6 karakter</p>
            </div>

            <ion-item>
                <ion-label stacked color="primary">New Password</ion-label>
                <ion-input [(ngModel)]="user.newpassword" pattern=".{8,}" name="newpassword" placeholder="New Password" type="password" #newpassword="ngModel" required>
                </ion-input>
              </ion-item>
            <div [hidden]="newpassword.valid || submitted == false" padding-left>
                <p ion-text color="danger" *ngIf="!user.newpassword">Password Baru harus diisi</p>
                <p ion-text color="danger" *ngIf="user.newpassword">Password minimal 6 karakter</p>
            </div>

            <ion-item>
                <ion-label stacked color="primary">Confirm New Password</ion-label>
                <ion-input [(ngModel)]="user.confirmpassword" pattern=".{8,}" placeholder="ConfirmPassword" name="confirmpassword" type="password" #confirmpassword="ngModel" required>
                </ion-input>
              </ion-item>
                <div [hidden]="confirmpassword.valid || submitted == false" padding-left>
                  <p ion-text color="danger" *ngIf="!user.confirmpassword">Konfirmasi Password harus diisi</p>
                  <p ion-text color="danger" *ngIf="user.confirmpassword">Password minimal 6 karakter</p>			
                </div>				
                <div padding-left>
                  <p ion-text color="danger" *ngIf="user.newpassword != user.confirmpassword">Password tidak match</p>
                </div>
                     
          </ion-list>
        </form>
    </ion-card>
</ion-content>
